<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">


    <center>

        <h:form>
            <p:outputLabel value="Hallo #{loginBean.username} (#{loginBean.getRole()})" style="position: fixed; left: 2%" />

            <img src="pictures/p_advanced.png" width="130" height="37" alt="p_advanced" />
            <p:clock autoSync="true" />
            <p:commandButton value="Abmelden"   icon="ui-icon-arrowreturn-1-w" style="position: fixed; right: 5%" action="#{loginBean.doLogout()}" />
            <p:commandButton style="position: fixed; right: 2%; width: 40px; height: 33px;" update="@all" icon="ui-icon-arrowrefresh-1-w"/>
        </h:form>


    </center>

</ui:composition>
