<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <h:form>
        
        <p:outputPanel id="menuPanel" layout="block" >
            <p:menu style="width:213px;height:483px;border:none;font-size:small;padding:0px;" >

                <p:menuitem value="Neues Ticket" onclick="PF('dlg6543').show()"/>
                <p:menuitem value="Übersicht Tickets" url="filter_myView.xhtml"/>
                <p:menuitem value="Einstellungen" url="settings.xhtml" />
                <p:menuitem value="Statistik" url="statistic.xhtml"/>
                <p:menuitem value="Benutzer verwalten" url="admin.xhtml"/>
            </p:menu>
        </p:outputPanel>

    </h:form>
</ui:composition>


