<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Trouble Ticket System</title>
        <style type="text/css">
            @import "pictures/resources/css/design.css";
        </style>
      <link rel="icon" type="image/vnd.microsoft.icon" href="pictures/icon.ico"/>
    </h:head>
    <h:body>

        <p:layout fullPage="true" resizeTitle="resize" style="background-color:#FFFFFF;">

            <p:layoutUnit position="north" size="68" id="north" >
                <!--<ui:include src="header.xhtml" />-->
                <ui:include src="WEB-INF\template\header.xhtml" />
            </p:layoutUnit>

            <p:layoutUnit position="west" id="west" resizable="false" header="Menu" style="height:580px;overflow:hidden;" size="225">
                <!--<ui:include src="menu.xhtml" />-->
                <ui:include src="WEB-INF\template\menu.xhtml" />
            </p:layoutUnit>

            <p:layoutUnit 	styleClass="layoutUnitCenter" 	position="center" id="centerLayout">
                <h:form id="mainForm">
                    
                    <p:messages autoUpdate="true" id="msgs" showDetail="true" showSummary="true" />
                    <ui:insert id="insertContent" name="content" />

                  


                    <p:dialog header="Ticket" widgetVar="dlg6543" style="height: auto; width: auto;" resizable="false">
              
                        <p:commandButton value="Hardware" title="Öffnet das Ticket" onclick="target='#{settings.checkbox()}'"  action="#{ticketBean_rma.newRma()}" icon="ui-icon-gear" ajax='false'/>
                 
                        <br/><br/>
                        <p:commandButton value="Software" title="Öffnet das Ticket" onclick="PF('dlg6543').close()," action="#{ticketBean.newTicket()}" icon="ui-icon-image"/>
                    </p:dialog>
                </h:form>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>
