<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <br/>
    <!--Artikel Menu-->
    <p:outputLabel value="Artikel (2.)" for="artikel_input" style="color: red;"/>
    
    <p:selectOneMenu   value="#{ticketBean_rma.selectedart}" id="artikel_input" style="position: absolute; left: 20%; width: 200px;" filterMatchMode="contains" filter="true" effect="fade">
        <f:selectItem itemLabel="Select Article"  itemValue="empty"/>
        <f:selectItems value="#{ticketBean_rma.artselects}"  />
        <p:ajax update="download art_in sn_in gar_a_in gar_d_in l_tel_input lief_input l_ort_input l_straße_input" listener="#{ticketBean_rma.artikelupdate()}"/>
    </p:selectOneMenu>


    <!--Artikel Nummer-->
    <p:outputLabel value="Artikelnummer" for="art_in" style="position: absolute; left: 52%;"/>
    <p:inputText id="art_in" value="#{ticketBean_rma.art.artikel_nr}" style="position: absolute; left: 73%;"/>
    <br/>  <br/> <br/>

    <!--Serial Menu-->
    <p:outputLabel value="Seriennummer (3.)" for="sn_in" style=" color: red;"/>
    <p:selectOneMenu   value="#{ticketBean_rma.selectedserial}" id="sn_in" style="position: absolute; left: 20%; width: 200px;" filterMatchMode="contains" filter="true" effect="fade">
        <f:selectItem itemLabel="Select Serialnumber"  itemValue="empty"/>
        <f:selectItems value="#{ticketBean_rma.serialselects}"  />
        <p:ajax update="download gar_a_in gar_d_in l_tel_input lief_input l_ort_input l_straße_input" listener="#{ticketBean_rma.serialupdate()}"/>
    </p:selectOneMenu>


    <br/><br/><br/>

    <!--Garantie Art-->
    <p:outputLabel value="Garantie-Art" for="gar_a_in"/>
    <p:inputText id="gar_a_in" value="#{ticketBean_rma.sel.garantie.art}" style="position: absolute; left: 20%;"/>


    <!--Garantie Dauer-->
    <p:outputLabel value="Garantie-Dauer" for="gar_d_in"  style="position: absolute; left: 52%;"/>
    <p:inputText id="gar_d_in" value="#{ticketBean_rma.sel.garantie.dauer}" style="position: absolute; left: 73%;"/>
    <br/><br/><br/>

    <!--Fehler Beschreibung-->
    <p:outputLabel value="Fehler Beschreibung" for="beschr_input"/>
    <p:inputTextarea id="beschr_input" value="#{ticketBean_rma.beschr}" rows="5" cols="30"      
                     autoResize="false" style="position: absolute; left: 20%; width: 70%"/>
    <br/><br/><br/><br/><br/><br/><br/>


    <!--Bemerkung-->
    <p:outputLabel value="Betreff" for="bem_input"/>
    <p:inputTextarea id="bem_input" value="#{ticketBean_rma.bem}" rows="5" cols="30"      
                     autoResize="false" style="position: absolute; left: 20%; width: 70%"/>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
    
    <p:outputLabel value="Erstellzeit: " />
    <p:outputLabel id="start_date" value="#{ticketBean_rma.start_d}" /><br/>
    
    <p:outputLabel value="Zuletzt geändert: " />
    <p:outputLabel id="change_date" value="#{ticketBean_rma.change_d}" /><br/>
    

</ui:composition>



