<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
            
    <!--FIRMA-->
    <p:outputLabel value="Firmendaten" style="font-size: 130%; color: #175470; position: absolute; left: 10%"/>
    <br/><br/>
    <!--Firmname Menu-->
    <p:outputLabel value="Firma (1.)" for="firma_input" style=" position: absolute; left: 0%; color: red;"/>
    <p:selectOneMenu  value="#{ticketBean_rma.selectedfirm}" id="firma_input"  style="position: absolute; left: 32%; width: 200px" filterMatchMode="contains" filter="true" effect="fade" >
        <f:selectItems value="#{ticketBean_rma.firmselects}" />
        <p:ajax update="download bem_input beschr_input f_kontaktpers_input f_ort_input f_straße_input f_tel_input art_in artikel_input sn_in gar_a_in gar_d_in l_tel_input lief_input l_ort_input l_straße_input" listener="#{ticketBean_rma.kontaktupdate()}"/>
    </p:selectOneMenu>
    <br/><br/>

    <!--Firma-Kontakt-->
    <p:outputLabel value="Kontaktperson" for="f_kontaktpers_input"/>

    <p:inputText id="f_kontaktpers_input" value="#{ticketBean_rma.firma.kontakt}" style="position: absolute; left: 32%;"/>

    <br/><br/>
    <!--Firma-Ort-->
    <p:outputLabel value="Ort" for="f_ort_input"/>
    <p:inputText id="f_ort_input" value="#{ticketBean_rma.firma.firm_adresse.ort}" style="position: absolute; left: 32%;"/>
    <br/><br/>

    <!--Firma-Straße-->
    <p:outputLabel value="Straße" for="f_straße_input"/>
    <p:inputText id="f_straße_input" value="#{ticketBean_rma.firma.firm_adresse.straße}" style="position: absolute; left: 32%;"/>
    <br/><br/>

    <!--Firma-Tel.Nr.-->
    <p:outputLabel value="Tel. Nr." for="f_tel_input"/>
    <p:inputText id="f_tel_input" value="#{ticketBean_rma.firma.firm_adresse.telnr}" style="position: absolute; left: 32%;"/>
    <br/><br/><br/>


    <!--LIEFERANT-->
    <p:outputLabel value="Lieferantendaten" style="font-size: 140%; color: #175470; position: absolute; left: 10%"/>
    <br/><br/>

    <!--Lieferant-Name-->
    <p:outputLabel value="Lieferant" for="lief_input"/>
    <p:inputText id="lief_input" value="#{ticketBean_rma.sel.liefer.name}" style="position: absolute; left: 32%;"/>
    <br/><br/>

    <!--Lieferant-Ort-->
    <p:outputLabel value="Ort" for="l_ort_input"/>
    <p:inputText id="l_ort_input" value="#{ticketBean_rma.sel.liefer.lief_adress.ort}" style="position: absolute; left: 32%;"/>
    <br/><br/>

    <!--Lieferant-Straße-->
    <p:outputLabel value="Straße" for="l_straße_input"/>
    <p:inputText id="l_straße_input" value="#{ticketBean_rma.sel.liefer.lief_adress.straße}" style="position: absolute; left: 32%;"/>
    <br/><br/>

    <!--Lieferant-Tel.Nr.-->
    <p:outputLabel value="Tel. Nr." for="l_tel_input"/>
    <p:inputText id="l_tel_input" value="#{ticketBean_rma.sel.liefer.lief_adress.telnr}" style="position: absolute; left: 32%;"/>
    <br/><br/>

</ui:composition>
