<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <p:growl id="growl" showDetail="true" sticky="false" life="3000" /> 
    
     <p:commandButton value="Zurück" style="background-color: #175470;" icon="ui-icon-arrowthick-1-w" title="Zurück zur Übersicht" action="#{ticketBean_rma.back()}" />
    
    <!--NEU -->
    <p:commandButton value="Neu" actionListener="#{ticketBean_rma.newTicket()}" icon="ui-icon-document" title="Legt ein neues, leeres RMA-Ticket an" update="download change_date start_date authorized_in growl priori_input status_input rma_input tick bem_input beschr_input firma_input f_kontaktpers_input f_ort_input f_straße_input f_tel_input artikel_input art_in sn_in gar_a_in gar_d_in l_tel_input lief_input l_ort_input l_straße_input rma_input"/>
    <!--Speichern -->
    <p:commandButton value="Speichern" actionListener="#{ticketBean_rma.save}" icon="ui-icon-disk" title="Speichert das RMA-Ticket in der DB" update="download change_date start_date authorized_in growl priori_input status_input rma_input tick bem_input beschr_input firma_input f_kontaktpers_input f_ort_input f_straße_input f_tel_input artikel_input art_in sn_in gar_a_in gar_d_in l_tel_input lief_input l_ort_input l_straße_input rma_input"/>
    <!--Reset -->
    <p:commandButton value="Reset" actionListener="#{ticketBean_rma.reset}" disabled="true" icon="ui-icon-trash" title="Löscht die Inhalte des Tickets" update="download change_date start_date authorized_in priori_input status_input bem_input beschr_input firma_input f_kontaktpers_input f_ort_input f_straße_input f_tel_input artikel_input art_in sn_in gar_a_in gar_d_in l_tel_input lief_input l_ort_input l_straße_input rma_input"/>
    <!--Open -->
    <!--
    <p:commandButton id="showProducerDialog" value="Open" onclick="PF('dlg').show()" title="Ticket öffnen" type="button" icon="ui-icon-folder-open" ajax="false"/>
    -->
    <!--Download -->
    <p:commandButton  id="download" value="Download" disabled="#{ticketBean_rma.download_disable}" actionListener="#{ticketBean_rma.print}" title="Downloaden des aktuellen RMA-Tickets auf diesen PC" ajax="false" icon="ui-icon-arrowthickstop-1-s" onclick="PrimeFaces.monitorDownloads(start, stop)">
        <p:fileDownload value="#{ticketBean_rma.doDownload}"/>
    </p:commandButton>
    <!--Help -->
    <p:commandButton value="Help" onclick="PF('dlg1').show()" icon="ui-icon-help" title="Für Hilfe hier klicken" />

    <p:clock autoSync="true" pattern="dd.MM.yyy - HH:mm" />
    
    <img src="pictures/p_advanced.png" alt="logo" style="position: absolute; left: 85%" title="abC Logo" />

    <p:dialog header="Open" widgetVar="dlg" height="40" width="400" resizable="false">
        <p:outputLabel value="Ticket" for="tick" style="position: absolute; left: 5%"/>
         <p:selectOneMenu  value="#{ticketBean_rma.change_ticket}" id="tick"  style="position: absolute; left: 20%" filterMatchMode="startsWith" filter="true" effect="fade" >
        <f:selectItems value="#{ticketBean_rma.ticketselects}"  />
        </p:selectOneMenu>
        <p:commandButton value="Öffnen" title="Öffnet das Ticket #{ticketBean_rma.change_ticket}" actionListener="#{ticketBean_rma.open()}" style="position: absolute; left: 50%" update="download change_date start_date authorized_in priori_input status_input bem_input beschr_input firma_input f_kontaktpers_input f_ort_input f_straße_input f_tel_input artikel_input art_in sn_in gar_a_in gar_d_in l_tel_input lief_input l_ort_input l_straße_input rma_input"/>
    </p:dialog>


    <p:dialog header="Help" resizable="false" widgetVar="dlg1" height="200" width="500">
        <p:outputLabel value="Muss-Felder" style="color: red; font-size: 16px;"/>
    <br/>
        <p:outputLabel value="Die Felder Firma, Artikel und Seriennummer müssen selektiert sein
                       um ein RMA-Ticket erstellen zu können" />
        <p:outputLabel value=" Firma(1.)" style="color: red;"/>
        <p:outputLabel value=", " />
        <p:outputLabel value="Artikel(2.) " style="color: red;" />
        <p:outputLabel value="und " />
        <p:outputLabel value="Seriennummer(3.) " style="color: red;"/>
        <p:outputLabel value="müssen selektiert sein
                       um ein RMA-Ticket erstellen zu können" /><br/>
        <p:outputLabel value="Es werden automatisch Werte eingetragen die verwendet werden können." />
        <br/><br/>
        <p:outputLabel value="Download" style="color: blue; font-size: 16px;"/><br/>
        <p:outputLabel value="Unter dem Download Button kann das RMA als Formular gespeichert werden." />
        <br/><br/>
        <p:outputLabel value="Open" style="color: green; font-size: 16px;"/><br/>
        <p:outputLabel value="Unter dem Open Button kann ein bestehendes RMA Formular geöffnet werden." />
        
        <br/><br/>
        <p:outputLabel value="Reset" style="color: green; font-size: 16px;"/><br/>
        <p:outputLabel value="Unter dem Reset Button können bereits eingegebene Daten gelöscht werden ." />
        
   </p:dialog>
                    
</ui:composition>
