
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <p:outputLabel value="RMA-NR:" for="rma_input"  style="position: absolute; left: 5%; color:#175470;"/>
    <p:outputLabel id="rma_input" value="#{ticketBean_rma.ticket_number}" style="position: absolute; left: 10%;" />

    <p:outputLabel value="RMA-Status" for="status_input" style="position: absolute; left: 20%;"/>
    <!--Status-->
    <p:selectOneMenu value="#{ticketBean_rma.state}" id="status_input" style="position: absolute; left: 27%; width: 200px;" converter="Status_Converter">
        <f:selectItems value="#{ticketBean.stateL}" var="status" itemValue="#{status}" itemLabel="#{status.name}"/>
    </p:selectOneMenu>

    <p:outputLabel value="RMA-Priorität" for="priori_input" style="position: absolute; left: 45%;"/>
    <!--Priority-->
    <p:selectOneMenu value="#{ticketBean_rma.priority}"  id="priori_input" style="position: absolute; left: 53%; width: 200px" converter="Priority_Converter">
        <f:selectItems value="#{ticketBean.prioL}" var="prio" itemValue="#{prio}" itemLabel="#{prio.name}"/>
    </p:selectOneMenu>

    <p:outputLabel value="Zuständiger" for="authorized_in" style="position: absolute; left: 73%;"/>

    <p:selectOneMenu value="#{ticketBean_rma.auth}"  id="authorized_in" style="position: absolute; left: 80%; width: 200px" filter="true" filterMatchMode="constains" converter="Person_Converter">
        <f:selectItems value="#{ticketBean.person_in_authority_select_item}" />
    </p:selectOneMenu>
     
       
</ui:composition>
