/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 12, 2015, 8:06:00 AM
    Author     : Alex
*/

.red{
    background: #ff6666;
}

.yellow{
    background: #ffff99;
}

.green{
    background: #99ff99;
}

.orange{
    background: #ff6633;
}

.ui-layout-unit-header{
    background: #175470;
    color: white;
}

.ui-button-text{
    color: #175470;
    background: white;
}

.ui-button{
    width:120px;
    height:40px;
            
 }
 .ui-widget{
     font-size: 15px;
 }
 
 .ui-clock{
     background: #175470;
     color: white;  
 }
 
 .ui-dialog-titlebar{
     background: #175470;
     color: white;
 }
 
.ui-selectonemenu .ui-selectonemenu-label .ui-selectonemenu-item{ 
    background: black;
    color: white;

}

.ui-tabmenu-nav{
    background: #175470;
}


.ui-tabmenu .ui-tabmenuitem a{
    background-color: #b2cbff;
}
.ui-menu{
    background: #b2cbff;
}

.ui-sortable-column{
    color: green;
}


//.ui-dialog - Container element of dialog
//.ui-dialog-titlebar - Title bar
//.ui-dialog-title-dialog - Header text
//.ui-dialog-titlebar-close - Close icon
//.ui-dialog-content Dialog - body



 




