<ui:composition template="WEB-INF\template\template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="content">
        <h:head>
            <title>Facelet Title</title>
            <style type="text/css">
                @import "pictures/resources/css/design.css";
            </style>
        </h:head>

        <p:layout style="min-height: 640px;">
            <p:layoutUnit position="center" header="Benutzer verwalten"> 

                <p:dataTable id="usetable" var="user" value="#{users.users}" style="width: 40%;" editable="true" editMode="cell">
                    <p:column headerText="User"> 
                        <p:cellEditor>  
                            <f:facet name="output"><h:outputText value="#{user.username}" /></f:facet>  
                            <f:facet name="input"><p:inputText value="#{user.username}" style="width:90%" label="User"/></f:facet>  
                        </p:cellEditor>  

                    </p:column>
                    <p:column headerText="Passwort">
                        <p:cellEditor>  
                            <f:facet name="output"><h:outputText value="#{user.password}" /></f:facet>  
                            <f:facet name="input"><p:inputText value="#{user.password}" style="width:90%" label="User"/></f:facet>  
                        </p:cellEditor> 
                    </p:column>
                    <p:column headerText="Rolle">
                        <p:selectOneMenu value="#{user.rolle}">
                            <f:selectItems value="#{adminBean.rollen}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:dataTable>

            </p:layoutUnit>
            
            
           
            <p:layoutUnit position="south" >
                <h:panelGrid columns="1" cellpadding="5" >
                    <p:commandButton value="+ neuen Benutzer" type="button" onclick="PF('dlg1').show();" update="newEmpDialog" style="width: auto"/>
                </h:panelGrid> 
            </p:layoutUnit>

        </p:layout>
        <p:dialog id="newEmpDialog" header="Basic Dialog" widgetVar="dlg1" 
                  dynamic="true" style="width: auto; height: auto" resizable="false">
            <p:panelGrid columns="2" style="width: auto; height: auto">
                <f:facet name="header">
                    <p:outputLabel value="Neuer Benutzer"/>
                </f:facet>

                <p:outputLabel value="Benutzername:"/>
                <p:inputText value="#{adminBean.newUsername}"/>
                <p:outputLabel value="Passwort:"/>
                <p:inputText value="#{adminBean.newPasswort}"/>
                <p:outputLabel value="Rolle:"/>
                <p:selectOneMenu value="#{adminBean.newRolle}">
                    <f:selectItems value="#{adminBean.rollen}"/>
                </p:selectOneMenu>

                <p:outputLabel value="Vorname:"/>
                <p:inputText value="#{adminBean.newVorname}"/>
                <p:outputLabel value="Nachname:"/>
                <p:inputText value="#{adminBean.newNachname}"/>    


                <p:commandButton value="Erstellen" action="#{users.addUse}" ajax="false"/>
            </p:panelGrid>
        </p:dialog>

    </ui:define>
</ui:composition>


