<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="WEB-INF\template\template_ma.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="content">
        
        
        <style type="text/css">
            @import "pictures/resources/css/design.css";
        </style>
        <h:body>
            <p:tabMenu activeIndex="0">
                <p:menuitem value="Alle Tickets" url="filter_overview_ma.xhtml" update="@all" style="color: white; background-color: #4b87ff;"/>
                <p:menuitem value="Meine Tickets" url="filter_myView_ma.xhtml" update="@all"/>
                <p:menuitem value="Offene Tickets" url="filter_open_ma.xhtml" update="table"/>
                <p:menuitem value="Abgeschlossene Tickets" url="filter_history_ma.xhtml" update="@all"/>
            <p:menuitem value="Hardware Tickets" url="filter_hardware_ma.xhtml" update="@all" />
            <p:menuitem value="Software Tickets" url="filter_software_ma.xhtml" update="@all"/>
            </p:tabMenu>

          
            <p:dataTable id="table" var="data" value="#{ticketBean.tickets}"  widgetVar="ticketTable" rowStyleClass="#{ticketBean.checkColor(data)}" scrollable="true" scrollHeight="570"> <!--rowStyleClass="{ticketBean.checkDate(data)}"> -->  

                <!--
                <f:facet name="header">
                    <p:outputPanel>
                        <h:outputText value="Search all fields:" />
                        <p:inputText id="globalFilter" onkeyup="PF('ticketTable').filter()" style="width:150px" placeholder="Suchbegriff"/>
                    </p:outputPanel>
                </f:facet>
                -->

                <p:column width="10%" filterBy="#{data.ticketnumber}" filterMatchMode="contains" sortBy="#{data.ticketnumber}">
                    <f:facet name="header">
                        <p:outputLabel value="Ticketnr."/>
                    </f:facet>
                    <p:outputLabel value="#{data.ticketnumber}"/>
                </p:column>
                <p:column width="8%" filterBy="#{data.ticketType}" sortBy="#{data.ticketType}" >
                    <f:facet name="header">
                        <p:outputLabel value="Typ"/>
                    </f:facet>
                    <p:outputLabel value="#{data.ticketType}"/>
                </p:column>
                <p:column width="10%" filterBy="#{data.state.name}" filterFunction="#{ticketBean.filterByAny}" sortBy="#{data.state.name}">
                    <f:facet name="header">
                        <p:outputLabel value="Status"/>
                    </f:facet>
                    <p:outputLabel value="#{data.state.name}" />
                </p:column>
                <p:column width="25%" filterBy="#{data.subject}" filterFunction="#{ticketBean.filterByAny}" sortBy="#{data.subject}">
                    <f:facet name="header">
                        <p:outputLabel value="Betreff"/>
                    </f:facet>
                    <p:commandLink value="#{data.subject}" action="#{ticketBean_rma.open(data)}" ajax="false"/>
                </p:column>
                <p:column width="15%" filterBy="#{data.person_in_authority}" filterFunction="#{ticketBean.filterByAny}" sortBy="#{data.person_in_authority}">
                    <f:facet name="header">
                        <p:outputLabel value="Zuständiger"/>
                    </f:facet>
                    <p:outputLabel value="#{data.person_in_authority}"/>
                </p:column>
                <p:column width="15%" filterBy="#{data.priority.name}" filterFunction="#{ticketBean.filterByAny}" sortBy="#{data.priority.name}">
                    <f:facet name="header">
                        <p:outputLabel value="Priorität"/>
                    </f:facet>
                    <p:outputLabel value="#{data.priority.name}"/>
                </p:column>
                <p:column width="15%" sortBy="#{data.startdate}">
                    <f:facet name="header">
                        <p:outputLabel value="Startzeit"/>
                    </f:facet>
                    <p:outputLabel value="#{data.startdate}" >
                        <f:convertDateTime pattern="dd.MM.yyyy HH:mm" timeZone="#{ticketBean.timeZone}"/>
                    </p:outputLabel>
                </p:column>
                <p:column width="15%" sortBy="#{data.lastmodified}">
                    <f:facet name="header">
                        <p:outputLabel value="Letzte Bearbeitung"/>
                    </f:facet>
                    <p:outputLabel value="#{data.lastmodified}" >
                        <f:convertDateTime pattern="dd.MM.yyyy HH:mm" timeZone="#{ticketBean.timeZone}"/>
                    </p:outputLabel>
                </p:column>

            </p:dataTable>


        </h:body>
    </ui:define>
</ui:composition>

