<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <h:head>
        <title>RMA-Formular</title>
        
        <style type="text/css">
        @import "pictures/resources/css/design.css";
        </style>
        <!--
        <script type="text/javascript">
                function closeIt()
        {
            return "Any string value here forces a dialog box to \n" +
         "appear before closing the window.";
        }
            window.onbeforeunload = closeIt;
        </script>-->
        
         <link rel="shortcut icon" href="pictures/abcicon.ico" type="image/x-icon" />
    </h:head>
        <h:body>
            <h:form>
                <p:layout fullPage="true"> 
                    <!--Header-->
                    <p:layoutUnit position="north" size="75" header="RMA">  
                        <ui:include src="WEB-INF\template_rma\header_rma.xhtml" />

                    </p:layoutUnit>

                    <!--Daten-->
                    <p:layoutUnit position="center"  header="Geschäftsdaten">  
                        <ui:include src="WEB-INF\template_rma\daten_rma.xhtml" />
                    </p:layoutUnit>  

                    <!--Artikel-->
                    <p:layoutUnit  position="east" size="850" header="Artikel">
                        <ui:include src="WEB-INF\template_rma\artikel_rma.xhtml" />
                    </p:layoutUnit>

                    <!--Footer-->
                    <p:layoutUnit position="south" size="60"  closable="true" collapsible="true">  
                        <ui:include src="WEB-INF\template_rma\footer_rma.xhtml" />
                    </p:layoutUnit>

                </p:layout> 
            </h:form>
        </h:body>
</html>

