<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="WEB-INF\template\template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="content">
        
        <script type="text/javascript" >
PrimeFaces.locales ['de'] = {
                 closeText: 'Schließen',
                 prevText: 'Zurück',
                 nextText: 'Weiter'
                 currentText: 'Start'
                 monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember' ]
                 monthNamesShort: ['Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez' ]
                 dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
                 dayNamesShort: ['Son', 'Mon', 'Die', 'Mit', 'Don', 'Fre', 'Sam'],
                 dayNamesMin: ['S', 'M', 'D', 'M ', 'D', 'F ', 'S']
                 weekHeader: 'Woche',
                 FirstDay: 1,
                 isRTL: false,
                 showMonthAfterYear: false,
                 yearSuffix:''
                 timeOnlyTitle: 'Nur Zeit'
                 timeText: 'Zeit'
                 hourText: 'Stunde',
                 minuteText: 'Minute'
                 secondText: 'Sekunde',
                 currentText: 'Aktuelles Datum'
                 ampm: false,
                 month, 'Monat',
                 week, 'Woche',
                 day: 'Tag',
                 allDayText: 'Ganzer Tag'
             };
        </script>
        
        
        
         
         <!--<p:outputLabel value="Fertigestellungstermin" style="position: absolute; left: 80%; top:5%;"/>
         <p:inputText id="termin" value="#{ticketBean.actTicket.endedate}" style="position: absolute; left: 80%; top:10%"/>
         <p:calendar value="#{ticketBean.actTicket.endedate}" mode="inline" locale="de" showButtonPanel="true" navigator="true" style="position: absolute; left: 80%; top: 17%; font-size: 12px;" >
             <p:ajax event="change" update="termin @this" process="termin @this"/>
         </p:calendar>
        -->
        
        
        <p:menu style="position: absolute; left: 81%; top: 90%; width: 7%">
            <p:menuitem value="Zurück" url="newTicket.xhtml"/>
        </p:menu>
         
        <p:menu  style="position: absolute; left: 90%; top: 90%; width: 7%">
            <p:menuitem value="Speichern" action="#{ticketBean.saveTicket()}"/>
        </p:menu>
        
         
    </ui:define>
</ui:composition>
