<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="WEB-INF\template\template_ma.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="content">

        <p:layout style="height: 650px"> 
            <!--Header-->
            <p:layoutUnit position="north" size="100" header="Software">  
                <p:outputLabel value="Ticketnummer" style="position: absolute; left: 1%;" />
                <p:inputText value="#{ticketBean.actTicket.ticketnumber}" readonly="true" style="position: absolute; left: 10%;"/>



                <p:outputLabel value="Status" style="position: absolute; left: 30%;"/>
                <p:selectOneMenu value="#{ticketBean.actTicket.state}" style="position: absolute; left: 35%;"
                                 converter="Status_Converter">
                    <f:selectItems value="#{ticketBean.stateL}" var="status" itemValue="#{status}" itemLabel="#{status.name}"/>
                </p:selectOneMenu>


                <p:outputLabel value="Priorität" style="position: absolute; left: 55%;"/>
                <p:selectOneMenu value="#{ticketBean.actTicket.priority}" style="position: absolute; left: 60%;"
                                 converter="Priority_Converter">
                    <f:selectItems value="#{ticketBean.prioL}" var="prio" itemValue="#{prio}" itemLabel="#{prio.name}"/>
                </p:selectOneMenu>




                <p:outputLabel value="Zuständig" style="position: absolute; left: 78%;"/>
                <p:selectOneMenu id="author" value="#{ticketBean.actTicket.person_in_authority}" style="position: absolute; left: 85%;"
                                 filter="true" filterMatchMode="constains" converter="Person_Converter">
                    <f:selectItems value="#{ticketBean.person_in_authority_select_item}"/>
                </p:selectOneMenu>
                <p:tooltip id="toolTip" for="author" value="Die Zahl neben dem Usernamen steht für die Anzahl der Tickets, die noch nicht abgeschlossen wurden"/>


            </p:layoutUnit>

            <p:layoutUnit position="center"  header="Geschäftspartner"> 

                <p:outputLabel id="kunde" value="Kunde" style="position: absolute; left: 2%;"/>
                <p:selectOneMenu id="kunde_select" value="#{ticketBean.actTicket.customer}" style="position: absolute; left: 30%;"
                                 filter="true" filterMatchMode="constains" converter="Customer_Converter" editable="false" >
                    <f:selectItems value="#{ticketBean.customers}" var="cust" itemValue="#{cust}" />
                </p:selectOneMenu>
                <br/><br/>
                <p:outputLabel id="ansprechpartners" value="Ansprechpartner" style="position: absolute; left: 2%;"/>
                <p:selectOneMenu id="anspr_select" value="#{ticketBean.actTicket.contactperson}" style="position: absolute; left: 30%;"
                                 filter="true" filterMatchMode="contains" converter="Person_Converter" editable="false">
                    <f:selectItems value="#{ticketBean.partners}" var="partner" itemValue="#{partner}"/>
                </p:selectOneMenu>

                <p:commandButton id="showProducerDialog" value="+" onclick="PF('dlg').show()" type="button" 
                                 style="position: absolute; left: 60%; width: 40px; height: 33px;" ajax="false" />


                <br/><br/>
                <p:outputLabel value="Adresse" style="position: absolute; left: 2%;"/>
                <p:inputText value="#{ticketBean.actTicket.address}" style="position: absolute; left: 30%;"  readonly="#{ticketBean.editable}"/>
                <br/><br/>
                <p:outputLabel value="Kommunikationskanal" style="position: absolute; left: 2%;"/>
                <p:selectOneMenu value="#{ticketBean.actTicket.channel_of_communication}" style="position: absolute; left: 30%;">
                    <f:selectItems value="#{ticketBean.komm}"/>
                </p:selectOneMenu>
                <br/><br/>
                <p:outputLabel value="Projekt" style="position: absolute; left: 2%;;"/>
                <p:selectOneMenu  style="position: absolute; left: 30%;">
                </p:selectOneMenu>
                <br/><br/>
                <p:outputLabel value="Vertrag" style="position: absolute; left: 2%;"/>
                <p:selectOneMenu value="#{ticketBean.actTicket.contract}" style="position: absolute; left: 30%;">
                </p:selectOneMenu>
                <br/><br/>
                <p:outputLabel value="Leistung" style="position: absolute; left: 2%;"/>
                <p:selectOneMenu value="#{ticketBean.actTicket.effort}" style="position: absolute; left: 30%;">
                    <f:selectItems value="#{ticketBean.leit}"/>
                </p:selectOneMenu>

                <br/><br/>

                <p:outputLabel value="Lösungsmethode" style="position: absolute; left: 2%;"/>
                <p:selectOneMenu value="#{ticketBean.actTicket.method_of_solution}" style="position: absolute; left: 30%; width: 240px">
                    <f:selectItems value="#{ticketBean.loesu}"/>
                </p:selectOneMenu>
            </p:layoutUnit>

            <p:layoutUnit  position="east" size="700" header="Produkt">

                <p:outputLabel value="Produkt" style="position: absolute; left: 2%;"/>
                <p:inputText value="#{ticketBean.actTicket.product}" style="position: absolute; left: 17%;"/>

                <p:outputLabel value="Fertigestellungstermin" style="position: absolute; left: 50%;"/>
                <p:calendar locale="de" value="#{ticketBean.actTicket.endedate}" id="popupCal" style="position: absolute; left: 70%;" timeZone="#{ticketBean.timeZone}"/>
                <p:dialog header="Selected Dates" widgetVar="dialog"
                          showEffect="fade" hideEffect="fade">
                    <h:outputText value="Popup Date:" />
                    <h:outputText value="#{ticketBean.actTicket.endedate}" id="popupDate">
                        <f:convertDateTime pattern="d.M.yyyy" timeZone="#{ticketBean.timeZone}"/>
                    </h:outputText>
                </p:dialog>
                <br/><br/>
                <p:outputLabel value="Typ" style="position: absolute; left: 2%;"/>
                <p:selectOneMenu value="#{ticketBean.actTicket.supporttyp}" style="position: absolute; left: 17%;" filter="true" filterMatchMode="contains"
                                 converter="Typ_Converter">
                    <f:selectItems value="#{ticketBean.typL}" var="typ" itemValue="#{typ}" itemLabel="#{typ.name}"/>
                </p:selectOneMenu>

                <br/><br/>
                
                <p:outputLabel value="Mandant" style="position: absolute; left: 2%;"/>
                <p:selectOneMenu value="#{ticketBean.actTicket.client}" style="position: absolute; left: 17%;">
                </p:selectOneMenu>
                <br/><br/>
                <p:outputLabel value="Betreff" style="position: absolute; left: 2%;"/>
                <p:inputText value="#{ticketBean.actTicket.subject}" required="true" style="position: absolute; left: 17%;"/>
                <br/><br/>
                <p:outputLabel value="Beschreibung" style="position: absolute; left: 2%; "/>
                <p:inputTextarea value="#{ticketBean.actTicket.description}" style="position: absolute; left: 17%; " cols="50" rows="10" />


            </p:layoutUnit>

            <p:layoutUnit  position="south" size="60">
                <p:commandButton id="next" value="Speichern"  
                                 action="#{ticketBean.saveTicket()}" icon="ui-icon-disk"/>

                <p:commandButton id="basic" value="Historie" onclick="PF('dlg1').show();" type="button" icon="ui-icon-clipboard"/>  

            </p:layoutUnit>
            
        </p:layout>

        <!--
        <p:outputLabel id="kNr" value="Kundennummer" style="position: absolute; right: 28%; top: 6%;" />
        <p:inputText value="#{ticketBean.actTicket.customer.cnr}" style="position: absolute; right: 8%; top: 5%; width: 230px"/>
        -->

        <p:dialog id="dialog1" header="Ansprechpartner" widgetVar="dlg" resizable="false"  >
            <h:panelGrid columns="2" style="margin-bottom:10px">
                <h:outputLabel for="vorname_anspr" value="Vorname: " />
                <p:inputText id="vorname_anspr" value="#{ticketBean.new_partner.firstname}"  />
                <h:outputLabel for="nachname_anspr" value="Nachname: " />
                <p:inputText id="nachname_anspr" value="#{ticketBean.new_partner.surname}" />
            </h:panelGrid>

            <p:commandButton id="saveButton" value="Speichern" oncomplete="PF('dlg').hide();" icon="ui-icon-disk" >
                <p:ajax event="click" listener="#{ticketBean.addContact_Person}" process="dialog1" update="anspr_select" />
            </p:commandButton>

        </p:dialog>

        <p:dialog id="basicDialog" header="Historie" widgetVar="dlg1"  width="65%" height="300px" resizable="false">

            <p:dataTable id="dataTable" var="hist" value="#{ticketBean.actTicket.history_list}" scrollable="true" scrollHeight="75%"  >
                <p:column width="25%">
                    <f:facet name="header">
                        <p:outputLabel value="Datum"/>
                    </f:facet>
                    <p:outputLabel value="#{hist.date}"/>
                </p:column>
                <p:column width="20%">
                    <f:facet name="header">
                        <p:outputLabel value="User"/>
                    </f:facet>
                    <p:outputLabel value="#{hist.user.username}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Beschreibung"/>
                    </f:facet>
                    <p:outputLabel value="#{hist.description}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Benötigte Zeit"/>
                    </f:facet>
                    <p:outputLabel value="#{hist.time}"/>
                </p:column>
            </p:dataTable>
            <br></br>
            <div style="margin:0;">
                
                <p:inputText value="#{ticketBean.actTicket.hist.description}" style="width: 65%;"/>
                <p:inputText value="#{ticketBean.actTicket.hist.time}" style="width: 10%; left: 70%;"/>

                <p:commandButton id="addHistory" value="Hinzufügen" style="width: 15%; left: 5%">
                    <p:ajax event="click" listener="#{ticketBean.speichHist}" process="basicDialog" update="dataTable"/>
                </p:commandButton>
            </div>
        </p:dialog>  

        <!--
        <p:menu style="position: absolute; left: 90%; top: 90%; width: 7%" >
            <p:menuitem value="Weiter" url="newTicket2.xhtml" />
        </p:menu>
        -->

    </ui:define>
</ui:composition>

