<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="WEB-INF\template\template_ma.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content" >

        <p:layout style="min-height: 640px;">
            <p:layoutUnit position="center" header="Standardwerte festlegen">       

                <p:outputLabel value="Typ" style="position: absolute; left: 2%; top: 11%"/>
                <p:selectOneMenu value="#{settings.defaultTyp}" style="position: absolute; left: 20%; top: 10%; width: 230px"
                                 converter="Typ_Converter">
                    <f:ajax listener="#{ticketBean.initTypList}" />
                    <f:selectItems value="#{ticketBean.typL}" var="typ" itemValue="#{typ}" itemLabel="#{typ.name}"/>
                </p:selectOneMenu>

                <p:outputLabel value="Priorität" style="position: absolute; left: 2%; top: 18%"/>
                <p:selectOneMenu value="#{settings.defaultPrio}" style="position: absolute; left: 20%; top: 17%; width: 230px" 
                                 converter="Priority_Converter" >
                    <p:ajax listener="#{ticketBean.initPrioList}" />
                    <f:selectItems value="#{ticketBean.prioL}" var="prio" itemValue="#{prio}" itemLabel="#{prio.name}" />
                </p:selectOneMenu>

                <p:outputLabel value="Leistung" style="position: absolute; left: 2%; top: 25%"/>
                <p:selectOneMenu value="#{settings.defaultLeistung}" style="position: absolute; left: 20%; top: 24%; width: 230px">
                    <f:selectItems value="#{ticketBean.leit}"/>
                </p:selectOneMenu>

                <p:outputLabel value="Status" style="position: absolute; left: 2%; top: 32%"/>
                <p:selectOneMenu value="#{settings.defaultStatus}" style="position: absolute; left: 20%; top: 31%; width: 230px"
                                 converter="Status_Converter">
                    <f:ajax listener="#{ticketBean.initStatusList}" />
                    <f:selectItems value="#{ticketBean.stateL}" var="status" itemValue="#{status}" itemLabel="#{status.name}"/>
                </p:selectOneMenu>

                <p:outputLabel value="Lösungsmethode" style="position: absolute; left: 2%; top: 39%"/>
                <p:selectOneMenu value="#{settings.defaultLösungsm}" style="position: absolute; left: 20%; top: 38%; width: 230px">
                    <f:selectItems value="#{ticketBean.loesu}"/>
                </p:selectOneMenu>
                
                <p:outputLabel value="RMA in new tab" style="position: absolute; left: 2%; top: 46%"/>
                <p:selectBooleanCheckbox value="#{settings.checkbox}" style="position: absolute; left: 20%; top: 46%" />
                
                
            </p:layoutUnit>  

            <p:layoutUnit position="south" size="60" >
                <p:commandButton id="save" value="Speichern" action="save"
                                 style="position: absolute; left: 2%;" process="@form" update="@form" />

                <p:messages showDetail="true" />
            </p:layoutUnit>
        </p:layout>
    </ui:define>

</ui:composition>
