<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Welcome</title>
        <style type="text/css">
            @import "pictures/resources/css/design.css";
        </style>
    </h:head>
    <h:body>

        <h:form id="from">  
            <h:panelGrid columns="3" style=" position: fixed; left: 35%; top:30%;" border="0">
                <f:facet  name="header">
                    <p:outputLabel value="Login" />
                </f:facet>
                <p:outputLabel for="name" value="Benutzername:" />
                <p:inputText id="name" value="#{loginBean.username}" required="true" requiredMessage="Bitte Daten eingeben"/>
                <p:message for="name"/>

                <p:outputLabel for="password" value="Passwort:"/>
                <p:password id="password" value="#{loginBean.password}" requiredMessage="Bitte eingeben"/>
                <p:message for="password"/>

                <p:commandButton value="Login" action="#{loginBean.doLogin()}" ajax="false"/> 
                <img src="pictures/p_advanced.png" width="130" height="37" alt="p_advanced"/>
            </h:panelGrid>

        </h:form>

    </h:body>
</html>

