<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="WEB-INF\template\template_ma.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="content">

        <p:tabMenu activeIndex="0">
            <p:menuitem value="Status aller Tickets" url="statistic_ma.xhtml" update="@all"  style="color: white; background-color: #4b87ff;"/>
            <p:menuitem value="Tickets je Mitarbeiter" url="statistic_perEmp_ma.xhtml" update="@all"/>
        </p:tabMenu>

        
        
        <p:chart type="line" model="#{chartBean.model_Status}" style="width: 1000px; margin-top: 8%; margin-left: 10% "/>


    </ui:define>
</ui:composition>

