<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="WEB-INF\template\template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="content">

        <p:tabMenu activeIndex="1">
            <p:menuitem value="Status aller Tickets" url="statistic.xhtml" update="@all" />
            <p:menuitem value="Tickets je Mitarbeiter" url="statistic_perEmp.xhtml" update="@all" style="color: white; background-color: #4b87ff;"/>
        </p:tabMenu>
        
<!--       
        <p:selectOneMenu value="#{chartBean.selectetUser}" >
            <f:selectItems value="#{chartBean.mit}"/>
            <p:ajax event="change" update="chartperUser" listener="#{chartBean.showStatUser(ev)}"/>
        </p:selectOneMenu>
    -->    
        <p:dataTable id="empTable" var="data" value="#{chartBean.mitarbeiter}" style="width:15%">
            <p:column width="10%">
                <f:facet name="header">
                    <p:outputLabel value="Mitarbeiter"/>
                </f:facet>
                <p:commandLink value="#{data.username}" action="#{chartBean.showStatUser(data)}" ajax="false"/>
            </p:column>
        </p:dataTable>

        <p:chart id="chartperUser" type="pie" model="#{chartBean.model_perUser}" style="width: 600px; margin-top: 8%; margin-left: 25%; top: 5%; left: 15%; position: fixed;" />
        

    </ui:define>
</ui:composition>




